*{
	color: #fff;
}
#header{
	background: #555;
	width: 100%;
	height: 100px;
}
#left{
	float: left;
	background: #333;
	width: 30%;
	height: 300px;
}
#center{
	float: left;
	background: #fff;
	width: 45%;
}
#right{
	float: left;
	background: #999;
	width: 25%;
	height: 300px;
}
#footer{
	clear: both;
	background: #000;
	height: 100px;
}