*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	color: #fff;
}
p{
	/*display: table-cell;
	vertical-align: middle;
	text-align: center;*/
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}
body{
	width: 748px;
	height: 950px;
	margin: 20px auto;
}
#header{
	width: 100%;
	height: 200px;
	background: #000;
}
#left,#right,#view{
	height: 600px;
	float: left;
}
#main{
	border-top: 5px solid #fff;
	border-bottom: 5px solid #fff;
	float: left;
	width: 100%;
}
#left{
	
	width: 15%;
	background: #333;
}
#right{
	background: red;
	width: 15%;
}
#view{
	width: 70%;
}
#footer{
	background: green;
	height: 150px;
	clear: left;
}
/*MENU 2 CAP THUONG*/
/*div#topbar {
    background: purple;
    height: 40px;
    width: 720px;
    position: fixed;
    top: 0px;
}
ul.menu{
    list-style-type: none;
    line-height: 40px;
}
ul.menu li{
    display: inline-block;
    padding: 0px 10px;
    cursor: pointer;
    position: relative;
}
ul.menu li:hover{
	background: #fff;
	color: purple;
}
ul.menu li:hover ul.sub{
	display: block;
}
ul.sub{
	left: 0px;
	background: purple;
	position: absolute;
	display: none;
}
ul.sub li{
	width: 100px;
}*/
/*END MENU 2 CAP THUONG*/
/*MEGA MENU*/
ul.menu{
    list-style-type: none;
    line-height: 40px;
}
ul.menu li{
	display: inline-block;
	padding: 0px 10px;
    cursor: pointer;
    display: inline-block;
    position: relative;
}
ul.menu li:hover{
	background: #fff;
	color: green;
}
div#mega{
	background: green;
    height: 40px;
    width: 748px;
    position: fixed;
    top: 0px;
}
.menup:hover .megasub{
	display: block;
}
.megasub{
	display: none;
	background: green;
	width: 750px;
	left: 0px;
	position: absolute;
}
.tab{
	float: left;
	width: 25%;
}
ul.menutab li{
	display: inline-block;
	width: 100%;
}
.imgtab{
	width: 100%;
	height: auto;
	padding: 10px;
}
/*END MEGA MENU*/